* {
    box-sizing: border-box;
}

/* .chart-container {
    width: 100%;
    height: 50vh;
    border: 3px solid var(--neutral-darker);
    border-radius: 25px;
    padding: 2rem;

    background-color: #2196f3;
} */

/* Define dark mode colors */
:root {
    --bg-color: #121212;
    --text-color: #f0f0f0;
    --primary-color: rgb(33, 150, 243);
    --secondary-color: #e91e63;
    --accent-color: rgb(222, 188, 22);


    --font-family-3: "Lato", sans-serif;
    --font-family-2: 'Fredoka', sans-serif;

    --font-family-1: 'Bruno Ace SC', cursive;
    /* 
    --font-family-0: "Roboto", sans-serif;
    --font-family-0: "Open Sans", sans-serif;
    --font-family-0: 'Poiret One', cursive;
    --font-family-0: 'Shrikhand', cursive;
 */

    --font-weight-light: 300;
    --font-weight-regular: 500;
    --font-weight-semi-bold: 700;
    --font-weight-bold: 900;


    --neutral-light: color-mix(in srgb, var(--bg-color) 10%, var(--text-color) 90%);
    --neutral-color: color-mix(in srgb, var(--bg-color) 60%, var(--text-color) 40%);
    --neutral-dark: color-mix(in srgb, var(--bg-color) 80%, var(--text-color) 20%);
    --neutral-darker: color-mix(in srgb, var(--bg-color) 90%, var(--text-color) 10%);

    --graph-padding: 0px;
}


.chart-container {
    width: 100%;
    background-color: white;
    width: 100%;
    height: 50vh;
    border: 3px solid var(--neutral-darker);
    border-radius: 25px;
    /*  padding: var(--graph-padding); */


}

.chart {
    width: calc(100%- var(--graph-padding));
    height: 100%;
    overflow: hidden;
    overflow-wrap: unset;
}




/* Center the container and give it some margin */
.container {
    position: relative;
    max-width: 1200px;
    margin: auto auto 40px auto;
    background-color: var(--neutral-dark);
    border-left: 2px solid var(--text-color);
    border-right: 2px solid var(--text-color);
}

.container::before {
    position: absolute;
    left: 0%;
    right: 0;
    top: 0;
    content: '';
    z-index: -1;
    height: 100%;
    width: 50%;
    background-color: aqua;
    box-shadow: 0px 0px 10px 5px var(--primary-color);
}

.container::after {
    position: absolute;
    left: 50%;
    right: 0;
    top: 0;
    content: '';
    z-index: -1;
    height: 100%;
    width: 50%;
    box-shadow: 0px 0px 10px 5px var(--secondary-color);

}

body {
    background-color: var(--neutral-darker);
    color: var(--text-color);
    margin: 0 auto;
}

footer,
main {
    border-top: 2px solid var(--text-color);
    padding: 20px;
}

main {
    background-color: var(--neutral-color);
}

footer {
    border-bottom: 2px solid var(--text-color);
    background-color: var(--neutral-dark);
    padding: 30px;
    font-family: var(--font-family-3);
    font-weight: var(--font-weight-light);
    font-size: 16px;

}

/* Apply dark mode colors to the body and other elements */

h1 {
    font-family: var(--font-family-1);
    font-size: 36px;
    text-align: center;

}

/* p {
    font-family: var(--font-family-3);
    font-size: 18px;
} */

bold {
    font-weight: var(--font-weight-bold);
}


.text-accent {
    color: var(--accent-color);
}

.text-primary {
    color: var(--primary-color);
}

.text-secondary {
    color: var(--secondary-color);
}


/* Style the navbar with a gradient background and some padding */
.navbar {
    background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    padding: 20px;
}

/* Style the main element with some padding and a border */


/* Style the app-container with a flex layout and some gap */
.app-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Style the introduction section with a different background color and some padding */


/* Style the chart-card with a box shadow and some padding */
.chart-card {
    box-shadow: 0 0 10px var(--neutral-light);
    padding: 20px;
    background-color: var(--neutral-darker);
}

.chart-card h1 {
    text-align: left;
    font-family: var(--font-family-3);
    font-weight: var(--font-weight-bold);
}

.chart-card p {
    font-family: var(--font-family-3);
    font-weight: var(--font-weight-regular);
    font-size: 18px;

}


.inputbutton-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: var(--font-family-2);
    font-weight: var(--font-weight-regular);
    font-size: 24px;
}

input {
    font-family: var(--font-family-3);
    font-weight: var(--font-weight-light);
    font-size: 18px;
}

input[type=file]::file-selector-button {
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    transition: .3s;
    font-family: var(--font-family-1);
    margin-right: 20px;


}

input[type=file]::file-selector-button:hover {
    background-color: var(--text-color);
    color: var(--secondary-color);
    cursor: pointer;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
}

.save,
.next,
.previous {
    appearance: none;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 10px;
    cursor: pointer;
    display: inline-block;
    min-width: 10rem;
    font-family: var(--font-family-1);
    font-size: 1.1rem;

    overflow: hidden;
    /* text-overflow: ellipsis; */
}

.next,
.previous {
    background-color: var(--accent-color);
    color: var(--bg-color);
}

.previous {
    margin-left: auto;
    margin-right: 1rem;
}

.save {
    margin-right: 1rem;
}


.save:hover,
.next:hover,
.previous:hover {
    transform: scale(1.05);
    transition-duration: .3s;
    cursor: pointer;
}

.save:hover {
    background-color: var(--text-color);
    color: var(--primary-color);
}

.next:hover,
.previous:hover {
    transform: translateX(2px);
    background-color: var(--text-color);
    color: var(--accent-color);
}

.next:disabled,
.previous:disabled {
    opacity: 0.5;
    cursor: pointer;
    /* Disable pointer events on disabled buttons */
}

.next:disabled:hover,
.previous:disabled:hover {
    opacity: 0.5;
    cursor: pointer;
    transform: scale(1);
    transition-duration: 0;
    background-color: var(--accent-color);
    color: var(--bg-color);
}


@media screen and (max-width: 600px) {

    .buttons-container {
        display: grid;
        gap: 1rem;
        margin: 0 0 0 0;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            'previous next'
            'save save';
    }

    .buttons-container>button:nth-of-type(1) {
        grid-area: save;
    }

    .buttons-container>button:nth-of-type(2) {
        margin: 0 0;
        grid-area: previous;

    }

    .buttons-container>button:nth-of-type(3) {

        grid-area: next;

    }
}