* {
    box-sizing: border-box;
}

.chart-container {
    width: 100%;
    height: 50vh;
    border: 3px solid var(--neutral-darker);
    border-radius: 25px;
    padding: 2rem;
    position: relative;
    background-color: var(--neutral-light);
}

.chart {
    width: 100%;
}

/* Define dark mode colors */
:root {
    --bg-color: #121212;
    --text-color: #f0f0f0;
    --primary-color: #2196f3;
    --secondary-color: #e91e63;
    --accent-color: #debc16;
    --font-family-0: "Roboto", sans-serif;
    --font-family-0: "Open Sans", sans-serif;
    --font-family-3: "Lato", sans-serif;
    --font-family-2: 'Fredoka', sans-serif;
    --font-family-0: 'Poiret One', cursive;
    --font-family-0: 'Shrikhand', cursive;
    --font-family-1: 'Bruno Ace SC', cursive;


    --font-weight-bold: 700;
    --neutral-light: color-mix(in srgb, var(--bg-color) 10%, var(--text-color) 90%);
    --neutral-color: color-mix(in srgb, var(--bg-color) 40%, var(--text-color) 60%);
    --neutral-dark: color-mix(in srgb, var(--bg-color) 70%, var(--text-color) 30%);
    --neutral-darker: color-mix(in srgb, var(--bg-color) 90%, var(--text-color) 10%);
}

/* Apply dark mode colors to the body and other elements */
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0 auto;


}

h1 {
    font-family: var(--font-family-1);
    font-size: 36px;
    text-align: center;
}



bold {
    font-weight: var(--font-weight-bold);
}

/* Center the container and give it some margin */
.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--neutral-dark);
}

/* Style the navbar with a gradient background and some padding */
.navbar {
    background-image: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    padding: 20px;
}

/* Style the main element with some padding and a border */
main {
    padding: 20px;
    border: 2px solid var(--text-color);
}

/* Style the app-container with a flex layout and some gap */
.app-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


/* Style the chart-card with a box shadow and some padding */
.chart-card {
    box-shadow: 0 0 10px var(--neutral-light);
    padding: 20px;
    background-color: var(--neutral-darker);
}

.chart-card h1 {
    text-align: left;
    font-family: var(--font-family-2);
}

.chart-card p {
    font-family: var(--font-family-3);
    font-size: 18px;
}

.inputbutton-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: var(--font-family-3);
    font-weight: var(--font-weight-bold);
}

input[type=file]::file-selector-button {
    border: none;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--secondary-color);
    color: var(--text-color);
    transition: .3s;
    font-family: var(--font-family-1);
}

input[type=file]::file-selector-button:hover {
    background-color: var(--text-color);
    color: var(--secondary-color);
    cursor: pointer;
}

.chart-container {
    height: 400px;
    background-color: var(--neutral-light);
}


.buttons-container {
    display: flex;
    justify-content: space-between;
}

.run,
.next {
    appearance: none;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--text-color);
    padding: 10px;
    cursor: pointer;
    display: inline-block;
    width: 20%;
    font-family: var(--font-family-1);
    font-size: 1.1rem;
}

.next {
    background-color: var(--accent-color);
    color: var(--bg-color);
}



.run:hover,
.next:hover {
    transform: scale(1.05);
    transition-duration: .3s;
    cursor: pointer;

}

.run:hover {
    background-color: var(--text-color);
    color: var(--primary-color);

}

.next:hover {
    transform: translateX(7px);
    background-color: var(--text-color);
    color: var(--accent-color);

}



.footer {
    background-color: var(--neutral-darker);
    padding: 20px;
    font-family: var(--font-family-3);
    font-size: .75rem;
}