* {
    box-sizing: border-box;
    margin: 0;
}

/* .chart-container {
    width: 100%;
    height: 50vh;
    border: 3px solid var(--neutral-darker);
    border-radius: 25px;
    padding: 2rem;

    background-color: #2196f3;
} */

/* Define dark mode colors */
:root {

    --text-color: #00030a;


    /*    --primary-lighter: hsl(224, 100%, 90%);
    --primary-light: hsl(180, 100%, 0%); */


    --primary-light: rgb(51, 105, 255);
    --primary-color: rgb(18, 61, 181);
    --primary-dark: hsl(224, 100%, 26%);

    --primary-darker: hsl(242, 55%, 21%);
    --primary-lighter: hsl(221, 42%, 49%);



    --accent-HR: rgb(249, 173, 123);

    --accent-color: rgb(245, 113, 24);
    --accent-color-light: rgb(246, 139, 71);
    --accent-color-lighter: rgb(254, 222, 199);

    --theme-color-1: hsl(126, 56%, 41%);
    --theme-color-1-dark: hsl(147, 80%, 25%);

    --theme-color-2-light: hsl(191, 46%, 84%);
    --theme-color-2: hsl(188, 50%, 60%);
    --theme-color-2-dark: rgb(143, 178, 183);

    --theme-color-3-light: hsl(258, 33%, 80%);
    --theme-color-3: hsl(259, 47%, 62%);
    --theme-color-3-dark: hsl(256, 39%, 44%);


    --theme-color-4: hsl(48, 92%, 52%);
    --theme-color-4-dark: hsl(45, 60%, 46%);


    --neutral-light: rgb(255, 255, 255);
    --neutral-grey-lighter: rgb(240, 243, 250);
    --neutral-grey: rgb(227, 227, 227);
    --neutral-grey-darker: rgb(192, 192, 192);
    --neutral-dark: #00030a;


    --font-family-1: 'Montserrat', sans-serif;
    --font-family-2: 'PT Sans', sans-serif;
    --font-family-3: 'Bruno Ace SC', cursive;

    --font-weight-light: 300;
    --font-weight-regular: 500;
    --font-weight-semi-bold: 700;
    --font-weight-bold: 900;


    --graph-padding: 0px;
}



/*Utility */
bold {
    font-weight: var(--font-weight-bold);
}

.button-font {
    font-family: var(--font-family-3);
}


.text-accent {
    color: var(--accent-color);
}

.text-primary {
    color: var(--primary-color);
}

.text-secondary {
    color: var(--accent-color);
}


.text-theme1 {
    color: var(--theme-color-1)
}

.text-theme2 {
    color: var(--theme-color-2)
}

.text-theme3 {
    color: var(--theme-color-3)
}

.text-theme4 {
    color: var(--theme-color-4)
}






body {
    color: var(--text-color);
    margin: 0 auto;
}


header {
    background-color: var(--primary-color);
    color: var(--neutral-light);
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo {
    width: 250px;
    filter: brightness(0) invert(1);
    margin-left: 1rem;


}

/* Style the navbar with a gradient background and some padding */
.navbar {
    padding: 5px;
    margin: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family-1);
    font-weight: var(--font-weight-bold);
    font-size: 1.5rem;
}

.flex-filler {
    width: 250px;
    margin-right: 1rem;
}

/* Center the container and give it some margin */
.container {
    position: relative;
    max-width: 1400px;
    margin: auto auto auto auto;
    background-color: var(--neutral-light);
}


.container::before {
    position: absolute;
    content: ' ';
    height: 100%;
    width: 10px;
    background-color: var(--primary-color);
}

.container::after {
    position: absolute;
    left: 0%;
    right: 0;
    top: 0;
    content: '';
    z-index: -1;
    height: 100%;
    width: 100%;

    box-shadow: 0px 0px 10px 5px var(--primary-color);
}



/* Old box shadows with 2 colors
/* .container::before {
    position: absolute;
    left: 0%;
    right: 0;
    top: 0;
    content: '';
    z-index: -1;
    height: 100%;
    width: 50%;
    background-color: aqua;
    box-shadow: 0px 0px 10px 5px var(--primary-color);
}



/* Old box shadows with 2 colors
/* .container::before {
    position: absolute;
    left: 0%;
    right: 0;
    top: 0;
    content: '';
    z-index: -1;
    height: 100%;
    width: 50%;
    background-color: aqua;
    box-shadow: 0px 0px 10px 5px var(--primary-color);
}

.container::after {
    position: absolute;
    left: 50%;
    right: 0;
    top: 0;
    content: '';
    z-index: -1;
    height: 100%;
    width: 50%;
    box-shadow: 0px 0px 10px 5px var(--primary-color);
}
 */

main {
    background-color: var(--neutral-light);
    margin: 0 20px;
}




/* Style the app-container with a flex layout and some gap */
.app-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: flex-end;
}

/* Style the introduction with a box shadow and some padding */
.introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin: 0 40px;
    /*   box-shadow: 0 0 10px var(--neutral-light);
    padding: 0 20px 20px 20px;
    background-color: var(--neutral-darker);
    clip-path: polygon(1% 0%, 99% 0%, 100% 1%, 100% 99%, 99% 100%, 1% 100%, 0% 99%, 0% 1%); */
}

.introduction h1 {

    font-family: var(--font-family-2);
    font-weight: var(--font-weight-bold);
    margin-top: 40px;
    margin-right: auto;
    padding: 1rem;
    font-style: italic;
}

.introduction p {
    font-family: var(--font-family-2);
    font-weight: var(--font-weight-light);
    font-size: 18px;
    text-align: justify;
    width: 100%;
    padding: 0 1rem;
}

.chart-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-bottom: 20px;
    /*  background-color: var(--neutral-grey-lighter); */
    /*    border-top: 1px solid var(--primary-light); */
}



/*Layout*/
.chart-container {
    background-color: white;
    min-width: 60%;
    min-height: 50%;
    border: 2px solid var(--neutral-dark);
    border-radius: 10px;
    /*  padding: var(--graph-padding); */
}

/*Chart */
.chart {
    width: calc(100%- var(--graph-padding));
    height: 100%;
    overflow: hidden;
    overflow-wrap: unset;
    clip-path: polygon(1% 0%, 99% 0%, 100% 1%, 100% 99%, 99% 100%, 1% 100%, 0% 99%, 0% 1%);
    border-radius: 25px;
}





footer {
    /*     border-top: 1px solid var(--primary-color); */
    /*  border-bottom: 2px solid var(--accent-color); */
    /*   background-color: var(--neutral-grey-lighter); */
    margin: 0 60px;
    padding: 1rem;

    font-family: var(--font-family-1);
    font-size: 16px;
    color: var(--neutral-dark);
    min-height: 100px;
}

footer p span {
    width: 100%;
}

.mail-link {
    color: var(--primary-color);
    cursor: pointer;
    transition: 0.2s linear;
    font-style: italic;
}

.mail-link:hover {
    color: var(--primary-light);
    cursor: pointer;
    border-bottom: 3px solid var(--neutral-dark);


}

.border-color-neutral {
    transition: 0.1s linear;
}

.border-color-primary {
    transition: 0.1s linear;
}

.hovered {
    border-bottom: 3px solid var(--primary-light);
}

/* footer a:hover>:not(:hover) {
    border-bottom: 5px solid var(--primary-light);
}

span.border-color-primary:hover {
    border-bottom: 4px solid var(--neutral-dark);

}
 */

/***BUTTONS***Positioning and typography*******************************************************************************/

.inputbutton-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: var(--font-family-2);
    font-weight: var(--font-weight-light);
    font-size: 24px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

input {
    font-family: var(--font-family-2);
    font-weight: var(--font-weight-light);
    font-size: 18px;
    padding: 2px;
}

input[type=file]::file-selector-button {
    border: 1px solid var(--accent-color);
    padding: 10px;
    border-radius: 100px;
    background-color: var(--accent-color);
    color: var(--neutral-light);
    transition: .3s;
    font-family: var(--font-family-3);
    margin-right: 20px;
    min-width: 150px;

}

input[type=file]::file-selector-button:hover {
    background-color: var(--neutral-light);
    color: var(--accent-color);
    cursor: pointer;
    border: 1px solid var(--accent-color);
    transform: translateY(2px);


}

.buttons-container {
    display: flex;
    justify-content: space-between;
    min-height: 50px;
    margin-bottom: 20px;
}

.save,
.export,
.next,
.previous {
    appearance: none;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    display: inline-block;
    min-width: 10rem;
    font-family: var(--font-family-3);
    font-size: 1.1rem;
    overflow: hidden;
    /* text-overflow: ellipsis; */
}

.previous {
    margin-left: auto;
    margin-right: 1rem;
}

.save,
.export {
    margin-right: 1rem;
}

/***BUTTONS***COLORS*******************************************************************************/

.save,
.export,
.next,
.previous {
    background-color: var(--primary-color);
    color: var(--neutral-light);
}

.save {
    background-color: var(--theme-color-1);
    color: var(--neutral-light);
}

.save:hover {
    background-color: var(--neutral-light);
    color: var(--theme-color-1);
    border: 1px solid var(--theme-color-1);
}

.export {
    background-color: var(--theme-color-2);
    color: var(--neutral-light);
}

.export:hover {
    background-color: var(--neutral-light);
    color: var(--theme-color-2);
    border: 1px solid var(--theme-color-2);
}


.previous {
    background-color: var(--theme-color-3);
    color: var(--neutral-light);
}

.previous:hover {
    background-color: var(--neutral-light);
    color: var(--theme-color-3);
    border: 1px solid var(--theme-color-3);
}

.previous:disabled,
.previous:disabled:hover {
    background-color: var(--theme-color-3-dark);
    border: 1px solid var(--theme-color-3-dark);
    color: var(--neutral-light);
}

.next {
    background-color: var(--theme-color-4);
    color: var(--neutral-light);
}

.next:hover {
    background-color: var(--neutral-light);
    color: var(--theme-color-4);
    border: 1px solid var(--theme-color-4);
}

.next:disabled,
.next:disabled:hover {
    background-color: var(--theme-color-4-dark);
    border: 1px solid var(--theme-color-4-dark);
    color: var(--neutral-light);
}



/***BUTTONS***Animations*******************************************************************************/
.save:hover,
.export:hover,
.next:hover,
.previous:hover {
    transform: scale(1.05);
    transition-duration: .3s;
    cursor: pointer;
}

.next:hover {
    transform: translateX(2px);
}

.previous:hover {
    transform: translateX(-2px);
}

.next:disabled,
.previous:disabled {
    opacity: 0.5;
    cursor: pointer;
    /* Disable pointer events on disabled buttons */
}

.next:disabled:hover,
.previous:disabled:hover {
    opacity: 0.5;
    cursor: pointer;
    transform: scale(1);
    transition-duration: 0;
}




@media screen and (max-width: 600px) {

    /*Layout*/
    .chart-container {
        background-color: white;
        width: 80%;
        height: 80%;
        max-width: 600px;
        max-height: 600px;
        border: 2px solid var(--neutral-dark);
        border-radius: 10px;
        /*  padding: var(--graph-padding); */
    }

    .buttons-container {
        display: grid;
        gap: 1rem;
        margin: 0 0 0 0;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'previous next'
            'save save';
    }

    .buttons-container>button:nth-of-type(1) {
        grid-area: save;
    }

    .buttons-container>button:nth-of-type(2) {
        margin: 0 0;
        grid-area: previous;

    }

    .buttons-container>button:nth-of-type(3) {
        grid-area: next;
    }
}